.homepage {
    height: 80vh;
    background-color: #f0efeb;
    display: flex;
  }
  
  /* left side styling */
  .i-left {
    padding-top: 6rem;
  }

  .homeBtn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    border: none;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    background: #bb0d4d;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 5px;
  }
  
  .homeBtn:hover {
    background: #1B9AAA;
    text-decoration: none;
    transform: scale(1.1);
  }
  

  /* right side styling */

  .homeImage {
    max-width: 100%;
    height: 100%;
    float: right;
    padding-right: 10%;
  }

  .big-text {
    font-size: 5rem;
    font-weight: bold;
    color: #bb0d4d;
  }
  
 
  @media screen and (min-width: 550px) {
    .i-left{
      padding: 2em 1em 0em 1em;
      width: 50vw;
      height: 80vh;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }

    .big-text {
      font-size: 2rem;
    }

    .i-right{
      padding-left: 0px;
      width: 50vw;
      height: 80vh;
    }
  }

  @media screen and (min-width: 950px) {
    .i-left{
      padding: 5em 1em 0em 1em;
      padding-bottom: 1rem;
    }

    .big-text {
      font-size: 4rem;
    }
  }

  @media screen and (min-width: 1150px) {
    .i-left{
      padding: 4em 1em 0em 5em;
      width: 60vw;
      z-index: 1;
      padding-bottom: 1rem;
      
    }

    .big-text {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 549px) {
    .homepage {
      flex-direction: column;
    }
    .i-left{
      padding: 1em 1em 0em 1em;
      width: 100vw;
      height: 35vh;
      margin-bottom: -2rem;
      z-index: 1;
    }

    .big-text {
      font-size: 2rem;
    }

    .i-right{
      width: 100vw;
      height: 45vh;
    }
  }